@model Centroid.Models.Career
<!-- section start -->
<section class="section secPadding clearfix" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="side-menu">
                            <li class="side-menu-item"><a href="@Url.Action("Index", "Careers")">Home</a></li>
                            <li class="side-menu-item"><a href="@Url.Action("Job", "Careers")">Vacancies</a></li>
                            <li class="side-menu-item"><a href="@Url.Action("Index", "Profiles")">Profile</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        @if (Model != null)
                        {
                            @Html.Raw(Server.HtmlDecode(Model.CareerMsg))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
