@model IEnumerable<Centroid.Models.Home>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Index";
}
<!-- banner start -->
<div id="banner" class="banner">
    <div class="banner-overlay"></div>
    <div class="slider-banner">
        @foreach (var item in Model)
        {
            <div data-lazy-background="../Content/images/@item.Image">
                <div class="banner-caption">
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>


</div>
<!-- banner end -->
<section class="hero-caption secPadding">

    <div class="container">

        <div class="row " style="margin-top: 0px;">
            <div class="col-sm-12">
                <h2>@ViewBag.Vision</h2>
                <p>@ViewBag.AboutUs</p>
            </div>

        </div>

    </div>

</section>